* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #eeeeee;
}
.header {
    width: 100%;
    height: 8rem;
    margin: 0 auto;
}

.h-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    max-width: 1500px;
    margin: 0 auto;
    height: 80px;
    width: 100%;
}

.main-logo{
    max-width: 450px;
    width: 100%;
    transition: all ease 0.9s;
}

.h-input {
    position: relative;
}
.h-input input[type="text"] {
    height: 35px;
    width: 350px;
    border-radius: 50px;
}
.h-input img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
}

.h-input input {
    position: relative;
    border-radius: 50px;
    border: 1px solid #b9b9b9;
    padding: 0 15px;
}
#open-menu-btn {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
    display: none;
    background: none;
    border: none;

}

.start-here{
    display: flex;
}

.h-register,
.h-cart {
    display: flex;
    align-items: center;
}

.register-here p,
.register-here a {
    margin-right: 10px;
    outline: none;
}
.h-register-img img{
    width: 35px;
}

.h-register-img,
.h-cart-img {
    margin-right: 10px;
}
.h-cart-img img{
    width: 35px;
}
.register-here p:last-child {
    color: red;
}

.h-btm-container{
    box-sizing: border-box;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #004487;
}
.h-btm-container .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100%;
    height: 60px;
     gap: 4%;
}
.h-btm-container a{
    text-decoration: none;
    color: #fff;
}
.h-btm-container a:hover{
    border-bottom: 1px solid #fff;
}
@media (max-width: 1190px){
    .main-logo {
        width: 400px;
    }
    .h-input input[type="text"] {
        height: 35px;
        width: 300px;
        border-radius: 50px;
    }
    .h-input img {
        width: 17px;
    }
    .h-cart-img img {
        width: 30px;
    }
    .h-register-img img {
        width: 30px;
    }
}
@media (max-width: 1000px){
    .main-logo {
        width: 300px;
    }
    .h-btm-container a {
        font-size: 14px;
    }
}
@media (max-width: 930px){
    .register-here p, .register-here a {
        margin-right: 10px;
        font-size: 12px;
    }
    .h-input input[type="text"] {
        height: 30px;
        width: 215px;
    }
    .h-cart-img img {
        width: 26px;
    }
    .h-register-img img {
        width: 26px;
    }   
}
@media (max-width: 768px){
    .h-input{
        position: absolute;
        top: 90px;
    }
    .h-input input[type="text"] {
        height: 40px;
        width: 400px;
        font-size: 16px;
    }
    .h-input img {
        width: 20px;
    }
    .nav-list{
        display: none;
    }
    #open-menu-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 95px;
        font-size: 30px;
        cursor: pointer ;
    }
    .nav-list{
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 400px;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column; 
    }       
    .nav-list li a{
        color: #000;
    }
}